.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.box {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    width: 300px;
    padding: 20px;
    word-wrap: break-word;
    margin-right:20px;
    border-radius: 10px;
}
img{
  width:300px;
  border-radius:10px;
}
