.App-Header{
    background-color:rgb(141, 255, 47);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.App-Header li{
    display:inline-block;
    padding:20px;
    font-size: 20px;
    color:blue;
}